<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header" div class="alert alert-danger">
                        <h4 class="title" style="color: white;">Relatórios.</h4>
                        <p class="category" style="color: white;">Para gerar os relatórios, por favor selecione um
                            intervalo
                            de data.</p>
                    </div>
                    <div class="content">
                        <form [formGroup]="formRelatorio">
                            <div class="row">
                                <label style="margin-left: 12px; color: blue; margin-top: 11px;">Data inicial:</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="date" id="data1" [(ngModel)]="relatorio.data_inicio"
                                    style="color:cadetblue; text-align: center; border-color: blue;"
                                    formControlName="data_inicio"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <label style="margin-top: 11px; color: blue;">Data
                                    final:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="date" id="data2" [(ngModel)]="relatorio.data_fim"
                                    style="color:cadetblue; text-align: center; border-color: blue;"
                                    formControlName="data_fim">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-danger" style="width: 30%;"
                                    (click)="mostraRelatorio()">Gerar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <br />
            <br />
            <br />

            <div class="col-md-6">
                <div class="card" id="cardGraficoGeral">
                    <div class="header">
                        <h4 class="title">Gráfico de Movimentações</h4>
                    </div>
                    <br />
                    <div class="container-fluid" id="graficoGeral" style="width: 550px; height: 400px; margin-left: -15px;">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                    <div class="card" id="cardGraficoBruto">
                        <div class="header">
                            <h4 class="title">Gráfico Geral</h4>
                        </div>
                        <br />
                        <div class="container-fluid" id="graficoBruto" style="width: 550px; height: 400px; margin-left: -15px;">
                        </div>
                    </div>
                </div>
            <br />

            <div class="col-md-12">
                <div class="card" id="relatorioSalarios" style="border: none;">
                    <div class="header">
                        <h4 class="title">Salários</h4>
                    </div>
                    <br />
                    <mat-table [dataSource]="dataSourceSalario" matSort>

                        <!--  <ng-container matColumnDef="funcionarioid">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Funcionário </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.funcionarioid.pessoa.nome }}</mat-cell>
                        </ng-container> -->

                        <ng-container matColumnDef="data_pagamento_salario">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Pagamento </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.data_pagamento_salario }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="valor_pagamento">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Valor </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.valor_pagamento }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="descricao_pagamento">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.descricao_pagamento }}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumnsSalario"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsSalario;"></mat-row>

                    </mat-table>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="col-md-12">
                <div class="card" id="relatorioContas" style="border: none;">
                    <div class="header">
                        <h4 class="title">Contas</h4>
                    </div>
                    <br />
                    <mat-table [dataSource]="dataSourceConta" matSort>

                        <ng-container matColumnDef="valorConta">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Valor </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.valor_conta }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="dataPagamento">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.data_pagamento }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="descricao">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.descricao }}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumnsContas"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsContas;"></mat-row>

                    </mat-table>
                </div>
            </div>

            <br />
            <br />
            <br />
            <div class="col-md-12">
                <div class="card" id="relatorioDizimos" style="border: none;">
                    <div class="header">
                        <h4 class="title">Dizimos</h4>
                    </div>
                    <br />
                    <mat-table [dataSource]="dataSourceDizimo" matSort>

                        <ng-container matColumnDef="pessoaid">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Pessoa </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.pessoaid.nome }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="valorDizimo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Valor </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.valor_dizimo }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="dataDizimo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.data_dizimo }}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumnsDizimos"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsDizimos;"></mat-row>

                    </mat-table>
                </div>
            </div>

            <br />
            <br />
            <br />
            <div class="col-md-12">
                <div class="card" id="relatorioMissoes" style="border: none;">
                    <div class="header">
                        <h4 class="title">Missões</h4>
                    </div>
                    <br />
                    <mat-table [dataSource]="dataSourceMissao" matSort>

                        <ng-container matColumnDef="valorMissao">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Valor </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.valor_missao }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="dataOfertaMissao">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.data_oferta_missao }}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumnsMissoes"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsMissoes;"></mat-row>

                    </mat-table>
                </div>
            </div>

            <br />
            <br />
            <br />
            <div class="col-md-12">
                <div class="card" id="relatorioOfertas" style="border: none;">
                    <div class="header">
                        <h4 class="title">Ofertas</h4>
                    </div>
                    <br />
                    <mat-table [dataSource]="dataSourceOferta" matSort>

                        <ng-container matColumnDef="valorOferta">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Valor </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.valor_oferta }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="dataOferta">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.data_oferta }}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumnsOferta"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsOferta;"></mat-row>

                    </mat-table>
                </div>
            </div>

            <!-- <div class="col-md-4" id="graficopizza">
                <lbd-chart [title]="'Email Statistics'" [subtitle]="'Last Campaign Performance'"
                    [chartClass]="'ct-perfect-fourth'" [chartType]="emailChartType" [chartData]="emailChartData"
                    [legendItems]="emailChartLegendItems" [withHr]="true" [footerIconClass]="'fa fa-clock-o'"
                    [footerText]="'Campaign sent 2 days ago'">
                </lbd-chart>
            </div>
            <div class="col-md-8" id="graficoarea">
                <lbd-chart [title]="'Users Behavior'" [subtitle]="'24 Hours performance'" [chartType]="hoursChartType"
                    [chartData]="hoursChartData" [chartOptions]="hoursChartOptions"
                    [chartResponsive]="hoursChartResponsive" [legendItems]="hoursChartLegendItems" [withHr]="true"
                    [footerIconClass]="'fa fa-history'" [footerText]="'Updated 3 minutes ago'">
                </lbd-chart>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-6" id="graficobarra">
                <lbd-chart [title]="'Relatório Ofertas'" [subtitle]="'Comparação de recebimentos'"
                    [chartType]="activityChartType" [chartData]="activityChartData"
                    [chartOptions]="activityChartOptions" [chartResponsive]="activityChartResponsive"
                    [legendItems]="activityChartLegendItems" [withHr]="true" [footerIconClass]="'fa fa-check'"
                    [footerText]="'Data information certified'">
                </lbd-chart>
            </div>
        </div> -->
        </div>
    </div>