<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="alert alert-ligth" data-notify="container" (click)="mostrarPessoas();">
          <br />
          <span data-notify="icon" class="pe-7s-pendrive"
            style="margin-left: 20px; margin-top: -18px; color: blue;"></span>
          <span data-notify="message" style="font-size: 25px; color: blue;">Visualizar pessoas cadastradas</span>
          <br />
          <br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="alert alert-success" data-notify="container" (click)="mostrarCadastro();">
          <br />
          <span data-notify="icon" class="pe-7s-add-user" style="margin-left: 20px; margin-top: -18px;"></span>
          <span data-notify="message" style="font-size: 25px;">Cadastrar uma nova pessoa</span>
          <br />
          <br>
        </div>
      </div>
      <br />
      <br />
      <div class="header">
        <p style="color: red; margin-left: 150px;">Para que uma pessoa seja cadastrada é necessário que o endereço dela já esteja cadastrada no sistema</p>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <div class="col-md-12">
        <div class="card" id="listaPessoas" style="border: none;">
          <div class="header">
            <h4 class="title">Pessoas</h4>
          </div>
          <br />
          <mat-form-field>
            <input matInput style="background-color: #f7f7f8; width:20%; height: 30px; margin-left: 15px;" (keyup)="applyFilter($event.target.value)" placeholder="">
          </mat-form-field>
          <br />

          <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="cod">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="nome">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.nome }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="telefone">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.telefone }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="dataNascimento">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Data de Nascimento </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.data_nascimento }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="endereco">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Endereço </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.enderecoid.logradouro }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="numeroCasa">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Número da casa </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.numero_casa }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="editar">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Editar </mat-header-cell>
              <mat-cell *matCellDef="let row" (click)="editar(row)"><button type="button" id="btnEditar"
                  class="btn btn-info pull-center">Editar</button></mat-cell>
            </ng-container>

            <ng-container matColumnDef="excluir">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Excluir </mat-header-cell>
              <mat-cell *matCellDef="let row" (click)="excluir(row)"><button id="btnExcluir" type="button"
                  class="btn btn-info pull-center">Excluir</button></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]"></mat-paginator>

        </div>
      </div>

      <br />
      <br />

      <div class="col-md-12">
        <div class="card card-plain" style="border: none;">
          <div class="card" id="cadastro">
            <div class="content">
              <form [formGroup]="formPessoa">
                <div class="row">
                  <h3 class="title" style="text-align:center; margin-left: 350px;">Cadastro de Pessoas</h3>
                  <br />
                  <br />
                  <div hidden class="col-md-12">
                    <div class="form-group">
                      <label for="pessoaid">Id</label>
                      <input type="text" id="id" [(ngModel)]="pessoa.id" formControlName="id" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="nome">Nome</label>
                      <input type="text" [(ngModel)]="pessoa.nome" formControlName="nome" class="form-control"
                        placeholder="Nome">
                    </div>
                  </div>
                  <br />
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="telefone">Telefone</label>
                      <input type="tel" [(ngModel)]="pessoa.telefone" formControlName="telefone" class="form-control"
                        placeholder="Telefone">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="dataNascimento">Data de Nascimento</label>
                      <input type="date" [(ngModel)]="pessoa.data_nascimento" formControlName="data_nascimento"
                        class="form-control">
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="form-group">
                      <div formGroupName="enderecoid">
                        <label for="endereco">Endereço</label>
                        <select id="endereco" formControlName="id" [(ngModel)]="pessoa.enderecoid.id"
                          class="form-control">
                          <option selected>Selecione um endereco</option>
                          <option *ngFor="let endereco of enderecos" value="{{endereco.id}}">{{endereco.logradouro}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="numeroCasa">Número da casa</label>
                      <input type="number" [(ngModel)]="pessoa.numero_casa" formControlName="numero_casa"
                        class="form-control">
                    </div>
                  </div>
                  <br />
                    <button type="submit" (click)="sendSaveRequest()" class="btn btn-info btn-fill pull-center" [disabled]="!formPessoa.valid"
                      style="width: 100%; display:block;
                      background-color: blue; border-left-color: blue; border-right-color: blue; border-top-color: blue; border-bottom-color: blue;">
                      Salvar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>