<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="alert alert-ligth" data-notify="container" (click)="mostrarFuncionarios();">
          <br />
          <span data-notify="icon" class="pe-7s-pendrive"
            style="margin-left: 20px; margin-top: -18px; color: blue;"></span>
          <span data-notify="message" style="font-size: 25px; color: blue;">Visualizar funcionários
            cadastrados</span>
          <br />
          <br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="alert alert-success" data-notify="container" (click)="mostrarCadastroFuncionario();">
          <br />
          <span data-notify="icon" class="pe-7s-add-user" style="margin-left: 20px; margin-top: -18px;"></span>
          <span data-notify="message" style="font-size: 25px;">Cadastrar um novo funcionário</span>
          <br />
          <br>
        </div>
      </div>
      <div class="col-md-12">
        <div class="alert alert-ligth" data-notify="container" (click)="mostrarSalario();">
          <br />
          <span data-notify="icon" class="pe-7s-cash"
            style="margin-left: 240px; margin-top: -18px; color: blue;"></span>
          <span data-notify="message" style="font-size: 25px; margin-left: 250px; color: blue;">Pagamento de
            salário do
            funcionário</span>
        </div>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <div class="col-md-12">
        <div class="card" id="listaFuncionarios" style="border: none;">
          <div class="header">
            <h4 class="title">Funcionários</h4>
          </div>
          <br />
          <mat-form-field>
            <input matInput style="background-color: #f7f7f8; width:20%; height: 30px; margin-left: 15px;" (keyup)="applyFilter($event.target.value)" placeholder="">
          </mat-form-field>
          <br />
          <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="cod">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="cargo">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.cargo }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="salario">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Salário </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.salario }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="pessoaid">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Pessoa </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.pessoaid.nome }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="editar">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Editar </mat-header-cell>
              <mat-cell *matCellDef="let row" (click)="editar(row)"><button type="button" id="btnEditar"
                class="btn btn-info pull-center">Editar</button></mat-cell>
            </ng-container>

            <ng-container matColumnDef="excluir">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Excluir </mat-header-cell>
              <mat-cell *matCellDef="let row" (click)="excluir(row)"><button id="btnExcluir" type="button"
                class="btn btn-info pull-center">Excluir</button></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]"></mat-paginator>

        </div>
      </div>

      <br />
      <br />
      <br />
      <div class="col-md-12">
        <div class="card card-plain" style="border: none;">
          <div class="card" id="funcionario">
            <div class="content">
              <form [formGroup]="formFuncionario">
                <div id="endereco" class="row">
                  <h3 class="title" style="text-align:center; margin-left: 350px;">Cadastro de Funcionário</h3>
                  <br />
                  <br />
                  <div hidden class="col-md-12">
                    <div class="form-group">
                      <label for="funcionarioid">Id</label>
                      <input type="text" id="id" [(ngModel)]="funcionario.id" formControlName="id" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <div formGroupName="pessoaid">
                        <label for="pessoa">Nome</label>
                        <select id="pessoa" formControlName="id" [(ngModel)]="funcionario.pessoaid.id"
                          class="form-control">
                          <option selected>Selecione uma pessoa</option>
                          <option *ngFor="let pessoa of pessoas" value="{{pessoa.id}}">{{pessoa.nome}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="cargo">Cargo</label>
                      <input type="text" [(ngModel)]="funcionario.cargo" formControlName="cargo" class="form-control"
                        placeholder="Cargo">
                    </div>
                  </div>
                  <br />
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="salario">Salario</label>
                      <input type="number" [(ngModel)]="funcionario.salario" formControlName="salario"
                        class="form-control" placeholder="Salario">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-info btn-fill pull-center" (click)="sendSaveRequest()" [disabled]="!formFuncionario.valid"
                    style="width: 100%; background-color: blue; border-left-color: blue; border-right-color: blue; border-top-color: blue; border-bottom-color: blue;">Salvar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <br />
      <br />
      <br />
      <div class="col-md-12">
        <div class="card card-plain" style="border: none;">
          <div class="card" id="salario">
            <div class="content">
              <form [formGroup]="formSalario">
                <div id="endereco" class="row">
                  <h3 class="title" style="text-align:center; margin-left: 350px;">Pagamento de Salário</h3>
                  <br />
                  <br />
                  <div hidden class="col-md-12">
                    <div class="form-group">
                      <label for="salarioid">Id</label>
                      <input type="text" id="id" [(ngModel)]="salario.id" formControlName="id" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <div formGroupName="funcionarioid">
                        <label for="funcionarioid">Nome</label>
                        <select id="funcionario" formControlName="id" [(ngModel)]="salario.funcionarioid.id"
                          class="form-control">
                          <option selected>Selecione um(a) funcionario(a)</option>
                          <option *ngFor="let funcionario of funcionarios" value="{{funcionario.id}}">
                            {{funcionario.pessoaid.nome}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="valorPagamento">Valor</label>
                      <input type="number" [(ngModel)]="salario.valor_pagamento" formControlName="valor_pagamento"
                        class="form-control" placeholder="Valor do salário">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="dataPagamentoSalario">Data do pagamento</label>
                      <input type="date" formControlName="data_pagamento_salario"
                        [(ngModel)]="salario.data_pagamento_salario" class="form-control">
                    </div>
                  </div>
                  <br />
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="descricaoPagamento">Descrição</label>
                      <input type="text" formControlName="descricao_pagamento" [(ngModel)]="salario.descricao_pagamento"
                        class="form-control" placeholder= "Pagamento referente ao salário de funcionários.">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-info btn-fill pull-center" (click)="salvarSalario()" [disabled]="!formSalario.valid"
                    style="width: 100%; background-color: blue; border-left-color: blue; border-right-color: blue; border-top-color: blue; border-bottom-color: blue;">Salvar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>