
<div class="wrapper">
  <div class="sidebar" data-color="blue" data-image="">
      <app-sidebar></app-sidebar>
      <div class="sidebar-background" style="background-image: url(assets/img/388531.jpg"></div>
  </div>

  <div class="main-panel">
      <navbar-cmp></navbar-cmp>
      <router-outlet></router-outlet>
      <div *ngIf="isMap('maps')">
          <footer-cmp></footer-cmp>
      </div>
  </div>

</div>
