<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" id="mostrarOfertas">
        <div class="alert alert-ligth" data-notify="container" (click)="mostrarOfertas();">
          <br />
          <span data-notify="icon" class="pe-7s-pendrive"
            style="margin-left: 20px; margin-top: -18px; color: blue;"></span>
          <span data-notify="message" style="font-size: 25px; color: blue;">Visualizar Ofertas</span>
          <br />
          <br>
        </div>
      </div>
      <div class="col-md-6" id="mostrarLancamentoOfertas">
        <div class="alert alert-success" data-notify="container" (click)="mostrarLancamentoOfertas();">
          <br />
          <span data-notify="icon" class="pe-7s-cash" style="margin-left: 20px; margin-top: -18px;"></span>
          <span data-notify="message" style="font-size: 25px;">Lançar Oferta</span>
          <br />
          <br>
        </div>
      </div>

      <div class="col-md-6" id="mostrarMissoes">
        <div class="alert alert-ligth" data-notify="container" (click)="mostrarMissoes();">
          <br />
          <span data-notify="icon" class="pe-7s-pendrive"
            style="margin-left: 20px; margin-top: -18px; color: blue;"></span>
          <span data-notify="message" style="font-size: 25px; color: blue;">Visualizar Ofertas de Missões</span>
          <br />
          <br>
        </div>
      </div>
      <div class="col-md-6" id="mostrarLancamentoMissoes">
        <div class="alert alert-success" data-notify="container" (click)="mostrarLancamentoMissoes();">
          <br />
          <span data-notify="icon" class="pe-7s-cash" style="margin-left: 20px; margin-top: -18px;"></span>
          <span data-notify="message" style="font-size: 25px;">Lançar Oferta de Missões</span>
          <br />
          <br>
        </div>
      </div>

      <div class="col-md-6" id="mostrarDizimo">
        <div class="alert alert-ligth" data-notify="container" (click)="mostrarDizimo();">
          <br />
          <span data-notify="icon" class="pe-7s-pendrive"
            style="margin-left: 20px; margin-top: -18px; color: blue;"></span>
          <span data-notify="message" style="font-size: 25px; color: blue;">Visualizar Dízimos</span>
          <br />
          <br>
        </div>
      </div>
      <div class="col-md-6" id="mostrarLancamentoDizimo">
        <div class="alert alert-success" data-notify="container" (click)="mostrarLancamentoDizimo();">
          <br />
          <span data-notify="icon" class="pe-7s-cash" style="margin-left: 20px; margin-top: -18px;"></span>
          <span data-notify="message" style="font-size: 25px;">Lançar Dízimos</span>
          <br />
          <br>
        </div>
      </div>

      <div class="col-md-6" id="mostrarContas">
        <div class="alert alert-ligth" data-notify="container" (click)="mostrarContas();">
          <br />
          <span data-notify="icon" class="pe-7s-pendrive"
            style="margin-left: 20px; margin-top: -18px; color: blue;"></span>
          <span data-notify="message" style="font-size: 25px; color: blue;">Visualizar Contas a pagar</span>
          <br />
          <br>
        </div>
      </div>
      <div class="col-md-6" id="mostrarLancamentoContas">
        <div class="alert alert-success" data-notify="container" (click)="mostrarLancamentoContas();">
          <br />
          <span data-notify="icon" class="pe-7s-cash" style="margin-left: 20px; margin-top: -18px;"></span>
          <span data-notify="message" style="font-size: 25px;">Lançar contas a pagar</span>
          <br />
          <br>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card" id="listaOfertas" style="border: none;">
          <div class="header">
            <h4 class="title">Ofertas</h4>
          </div>
          <br />

          <mat-form-field>
            <input matInput style="background-color: #f7f7f8; width:20%; height: 30px; margin-left: 15px;" (keyup)="applyFilter($event.target.value)" placeholder="">
          </mat-form-field>
          <br />

          <mat-table [dataSource]="dataSourceOferta" matSort>

            <ng-container matColumnDef="cod">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="valorOferta">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Valor da Oferta </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.valor_oferta }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="dataOferta">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Data do Lançamento </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.data_oferta }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="editar">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Editar </mat-header-cell>
              <mat-cell *matCellDef="let row" (click)="editarOferta(row)"><button type="button" id="btnEditar"
                class="btn btn-info pull-center">Editar</button></mat-cell>
            </ng-container>

            <ng-container matColumnDef="excluir">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Excluir </mat-header-cell>
              <mat-cell *matCellDef="let row" (click)="excluirOferta(row)"><button type="button" id="btnExcluir"
                class="btn btn-info pull-center">Excluir</button></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumnsOferta"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsOferta;"></mat-row>

          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]"></mat-paginator>

        </div>
      </div>
      <br />
      <div class="col-md-12">
        <div class="card card-plain" style="border: none;">
          <div class="card" id="oferta">
            <div class="content">
              <form [formGroup]="formOferta">
                <div class="row">
                  <h3 class="title" style="text-align:center; margin-left: 350px;">Lançamento das Ofertas</h3>
                  <br />
                  <br />
                  <div hidden class="col-md-12">
                    <div class="form-group">
                      <label for="ofertaid">Id</label>
                      <input type="text" id="id" [(ngModel)]="oferta.id" formControlName="id" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="valor_oferta">Valor total das ofertas</label>
                      <input type="number" [(ngModel)]="oferta.valor_oferta" formControlName="valor_oferta"
                        class="form-control" placeholder="Valor">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="data_oferta">Data do Lançamento</label>
                      <input type="date" [(ngModel)]="oferta.data_oferta" formControlName="data_oferta"
                        class="form-control">
                    </div>
                  </div>
                  <br />
                    <button type="submit" class="btn btn-info btn-fill pull-center" (click)="sendSaveRequestOferta()" [disabled]="!formOferta.valid"
                      style="width: 100%; background-color: blue; border-left-color: blue; border-right-color: blue; border-top-color: blue; border-bottom-color: blue;">Salvar</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="card" id="listaMissoes" style="border: none;">
            <div class="header">
              <h4 class="title">Ofertas de missões</h4>
            </div>
            <br />

            <mat-form-field>
              <input matInput style="background-color: #f7f7f8; width:20%; height: 30px; margin-left: 15px;" (keyup)="applyFilter($event.target.value)" placeholder="">
            </mat-form-field>
            <br />

            <mat-table [dataSource]="dataSourceMissao" matSort>

              <ng-container matColumnDef="cod">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="valorMissao">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Valor da Oferta </mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.valor_missao }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="dataOfertaMissao">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Data do Lançamento </mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.data_oferta_missao }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="editar">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Editar </mat-header-cell>
                <mat-cell *matCellDef="let row" (click)="editarMissao(row)"><button type="button" id="btnEditar"
                  class="btn btn-info pull-center">Editar</button></mat-cell>
              </ng-container>

              <ng-container matColumnDef="excluir">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Excluir </mat-header-cell>
                <mat-cell *matCellDef="let row" (click)="excluirMissao(row)"><button type="button" id="btnExcluir"
                  class="btn btn-info pull-center">Excluir</button></mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsMissao"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsMissao;"></mat-row>

            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]"></mat-paginator>

          </div>
        </div>
        <br />
        <div class="col-md-12">
          <div class="card card-plain" style="border: none;">
            <div class="card" id="missoes">
              <div class="content">
                <form [formGroup]="formMissao">
                  <div class="row">
                    <h3 class="title" style="text-align:center; margin-left: 350px;">Lançamento das ofertas para
                      missões</h3>
                    <br />
                    <br />
                    <div hidden class="col-md-12">
                      <div class="form-group">
                        <label for="missaoid">Id</label>
                        <input type="text" id="id" [(ngModel)]="missao.id" formControlName="id" class="form-control">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="valorMissao">Valor total das ofertas</label>
                        <input type="number" [(ngModel)]="missao.valor_missao" formControlName="valor_missao"
                          class="form-control" placeholder="Valor">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="dataOfertaMissao">Data do Lançamento</label>
                        <input type="date" [(ngModel)]="missao.data_oferta_missao" formControlName="data_oferta_missao"
                          class="form-control">
                      </div>
                    </div>
                    <br />
                      <button type="submit" class="btn btn-info btn-fill pull-center" (click)="sendSaveRequestMissao()" [disabled]="!formMissao.valid"
                        style="width: 100%; background-color: blue; border-left-color: blue; border-right-color: blue; border-top-color: blue; border-bottom-color: blue;">Salvar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card" id="listaDizimos" style="border: none;">
              <div class="header">
                <h4 class="title">Dizimos</h4>
              </div>
              <br />

              <mat-form-field>
                <input matInput style="background-color: #f7f7f8; width:20%; height: 30px; margin-left: 15px;" (keyup)="applyFilter($event.target.value)" placeholder="">
              </mat-form-field>
              <br />

              <mat-table [dataSource]="dataSourceDizimo" matSort>

                <ng-container matColumnDef="cod">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="pessoaid">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Dizimista </mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.pessoaid.nome }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="valorDizimo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Valor do Dízimo </mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.valor_dizimo }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="dataDizimo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Data do Lançamento </mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.data_dizimo }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="editar">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Editar </mat-header-cell>
                  <mat-cell *matCellDef="let row" (click)="editarDizimo(row)"><button type="button" id="btnEditar"
                    class="btn btn-info pull-center">Editar</button></mat-cell>
                </ng-container>

                <ng-container matColumnDef="excluir">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Excluir </mat-header-cell>
                  <mat-cell *matCellDef="let row" (click)="excluirDizimo(row)"><button type="button" id="btnExcluir"
                    class="btn btn-info pull-center">Excluir</button></mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsDizimo"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsDizimo;"></mat-row>

              </mat-table>

              <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]"></mat-paginator>

            </div>
          </div>
          <br />
          <div class="col-md-12">
            <div class="card card-plain" style="border: none;">
              <div class="card" id="dizimo">
                <div class="content">
                  <form [formGroup]="formDizimo">
                    <div class="row">
                      <h3 class="title" style="text-align:center; margin-left: 350px;">Lançamento dos dízimos</h3>
                      <br />
                      <br />
                      <div hidden class="col-md-12">
                        <div class="form-group">
                          <label for="dizimoid">Id</label>
                          <input type="text" id="id" [(ngModel)]="dizimo.id" formControlName="id" class="form-control">
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <div formGroupName="pessoaid">
                            <label for="pessoaid">Nome</label>
                            <select id="pessoa" formControlName="id" [(ngModel)]="dizimo.pessoaid.id"
                              class="form-control">
                              <option selected>Selecione um dizimista</option>
                              <option *ngFor="let pessoa of pessoas" value="{{pessoa.id}}">{{pessoa.nome}}</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="valorDizimo">Valor</label>
                          <input type="number" [(ngModel)]="dizimo.valor_dizimo" formControlName="valor_dizimo"
                            class="form-control" placeholder="Valor">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="dataDizimo">Data do Lançamento</label>
                          <input type="date" [(ngModel)]="dizimo.data_dizimo" formControlName="data_dizimo"
                            class="form-control">
                        </div>
                      </div>
                      <br />
                        <button type="submit" class="btn btn-info btn-fill pull-center"
                          (click)="sendSaveRequestDizimo()" [disabled]="!formDizimo.valid"
                          style="width: 100%; background-color: blue; border-left-color: blue; border-right-color: blue; border-top-color: blue; border-bottom-color: blue;">Salvar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card" id="listaContas" style="border: none;">
                <div class="header">
                  <h4 class="title">Contas a Pagar</h4>
                </div>
                <br />

                <mat-form-field>
                  <input matInput style="background-color: #f7f7f8; width:20%; height: 30px; margin-left: 15px;" (keyup)="applyFilter($event.target.value)" placeholder="">
                </mat-form-field>
                <br />

                <mat-table [dataSource]="dataSourceConta" matSort>

                  <ng-container matColumnDef="cod">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="valorConta">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Valor da Conta </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.valor_conta }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="dataPagamento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Data do Pagamento </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.data_pagamento }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="descricao">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.descricao }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Editar </mat-header-cell>
                    <mat-cell *matCellDef="let row" (click)="editarConta(row)"><button type="button" id="btnEditar"
                      class="btn btn-info pull-center">Editar</button></mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="excluir">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Excluir </mat-header-cell>
                    <mat-cell *matCellDef="let row" (click)="excluirConta(row)"><button type="button" id="btnExcluir"
                      class="btn btn-info pull-center">Excluir</button></mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumnsConta"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsConta;"></mat-row>

                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]"></mat-paginator>

              </div>
            </div>
            <br />
            <div class="col-md-12">
              <div class="card card-plain" style="border: none;">
                <div class="card" id="conta">
                  <div class="content">
                    <form [formGroup]="formConta">
                      <div class="row">
                        <h3 class="title" style="text-align:center; margin-left: 350px;">Lançamento das contas
                          pagas</h3>
                        <br />
                        <br />
                        <div hidden class="col-md-12">
                          <div class="form-group">
                            <label for="contaid">Id</label>
                            <input type="text" id="id" [(ngModel)]="conta.id" formControlName="id" class="form-control">
                          </div>
                        </div>

                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="descricao">Descrição da conta</label>
                            <input type="text" [(ngModel)]="conta.descricao" formControlName="descricao"
                              class="form-control" placeholder="Descrição">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="valorConta">Valor</label>
                            <input type="number" [(ngModel)]="conta.valor_conta" formControlName="valor_conta"
                              class="form-control" placeholder="Valor">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="dataPagamento">Data do Lançamento</label>
                            <input type="date" [(ngModel)]="conta.data_pagamento" formControlName="data_pagamento"
                              class="form-control">
                          </div>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-info btn-fill pull-center" (click)="sendSaveRequestConta()" [disabled]="!formConta.valid"
                          style="width: 100%; background-color: blue; border-left-color: blue; border-right-color: blue; border-top-color: blue; border-bottom-color: blue;">Salvar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>