<div class="limiter">
	<div class="container-login100">
		<div class="login100-more" style="background-image: url('assets/img/login/fundo.jpg');"></div>

		<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-59">
					<img src="assets/img/login/Design sem nome (3).png" />
				</span>
				<form [formGroup]="formLogin">
					<div class="wrap-input100 validate-input" data-validate="Username is required">
						<span class="label-input100">Usuario</span>
						<input class="input100" type="text" [(ngModel)]="userLogin.username" formControlName="username"
							id="username" placeholder="Usuario...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Senha</span>
						<input class="input100" type="password" [(ngModel)]="userLogin.password" formControlName="password"
							id="password" placeholder="*************">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="btn" (click)="login()">
								Entrar
							</button>
						</div>
					</div>
				</form>

				<br />
				<div style="margin-left: 150px; margin-top: 45px;">
					<img src="assets/img/login/logo (1).png" />
				</div>
			</form>
		</div>
	</div>
</div>