<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">


        <div class="alert alert-ligth" data-notify="container" (click)="mostrarEnderecos();">
          <br />
          <span data-notify="icon" class="pe-7s-pendrive"
            style="margin-left: 20px; margin-top: -18px; color: blue;"></span>
          <span data-notify="message" style="font-size: 25px; color: blue;">Visualizar endereços cadastrados</span>
          <br />
          <br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="alert alert-success" data-notify="container" (click)="mostrarCadastroEndereco();">
          <br />
          <span data-notify="icon" class="pe-7s-add-user" style="margin-left: 20px; margin-top: -18px;"></span>
          <span data-notify="message" style="font-size: 25px;">Cadastrar um novo endereço</span>
          <br />
          <br>
        </div>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      <div class="col-md-12">
        <div class="card" id="listaEnderecos" style="border: none;">
          <div class="header">
            <h4 class="title">Endereços</h4>
          </div>
          <br />
          <mat-form-field>
            <input matInput style="background-color: #f7f7f8; width:20%; height: 30px; margin-left: 15px;" (keyup)="applyFilter($event.target.value)" placeholder="">
          </mat-form-field>
          <br/>
          <mat-table id="tabelaEndereco" [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="cod">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="uf">
              <mat-header-cell *matHeaderCellDef mat-sort-header> UF </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.uf }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="cidade">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Cidade </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.cidade }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="bairro">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Bairro </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.bairro }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="logradouro">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Logradouro </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.logradouro }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="editar">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Editar </mat-header-cell>
              <mat-cell *matCellDef="let row" (click)="editar(row)"><button type="button" id="btnEditar"
                  class="btn btn-info pull-center">Editar</button></mat-cell>
            </ng-container>

            <ng-container matColumnDef="excluir">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Excluir </mat-header-cell>
              <mat-cell *matCellDef="let row" (click)="excluir(row)"><button id="btnExcluir" type="button"
                  class="btn btn-info pull-center">Excluir</button></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]"></mat-paginator>

        </div>
      </div>

      <br />
      <br />

      <div class="col-md-12">
        <div class="card card-plain" style="border: none;">
          <div class="card" id="endereco">
            <div class="content">
              <form [formGroup]="formEndereco">
                <div class="row">
                  <h3 class="title" style="text-align:center; margin-left: 350px;">Cadastro de Endereço</h3>
                  <br />
                  <br />
                  <div hidden class="col-md-12">
                    <div class="form-group">
                      <label for="enderecoid">Id</label>
                      <input type="text" id="id" class="form-control" [(ngModel)]="endereco.id" formControlName="id"
                        name="id">
                    </div>
                  </div>
                  <br />
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="cidade">Cidade</label>
                      <input type="text" class="form-control" [(ngModel)]="endereco.cidade" formControlName="cidade"
                        name="cidade" placeholder="Nome">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="uf">UF</label>
                      <input type="text" class="form-control" [(ngModel)]="endereco.uf" formControlName="uf"
                        name="endereco" placeholder="Estado">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="bairro">Bairro</label>
                      <input type="text" class="form-control" [(ngModel)]="endereco.bairro" formControlName="bairro"
                        name="bairro" placeholder="Bairro">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="logradouro">Logradouro</label>
                      <input type="text" class="form-control" [(ngModel)]="endereco.logradouro"
                        formControlName="logradouro" name="logradouro" placeholder="Logradouro">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-info btn-fill pull-center" (click)="sendSaveRequest()" [disabled]="!formEndereco.valid"
                    style="width: 100%; background-color: blue; border-left-color: blue; border-right-color: blue; border-top-color: blue; border-bottom-color: blue;">Salvar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>