<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-header">
                <a class="navbar-brand" style="margin-left: -50px; color:#2e6dba;">Igreja Batista Príncipe da Paz</a>
                <button mat-fab (click)="sair()" style="background-color:#2e6dba; border-bottom: #ffff; border-top-color: #ffff; margin-left: 650px; margin-top: 1px;">
                    <i class="pe-7s-back-2" style="color:#ffff; margin-left: -3px; margin-top: -1px;"></i>
                </button>
            </div>
        </div>
    </div>
</nav>

