
<div class="sidebar-wrapper">
    <div class="logo">
        <a class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/faces/logo3.png"/>
            </div>
            Sgfr
        </a>
    </div>
    <ul class="nav responsive-nav">
        <li *ngIf="isMobileMenu()"> 
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-dashboard"></i>
				<p class="hidden-lg hidden-md">Dashboard</p>
            </a>
        </li>

        <li *ngIf="isMobileMenu()">
           <a href="http://localhost:7765/usuario">
               <p>Usuário</p>
            </a>
        </li>
        <li *ngIf="isMobileMenu()">
            <a>
                <p>Sair</p>
            </a>
        </li>
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
