<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-success" data-notify="container" (click)="cadastrarUsuarios();">
                    <br />
                    <span data-notify="icon" class="pe-7s-add-user"
                        style="margin-left: 20px; margin-top: -18px;"></span>
                    <span data-notify="message" style="font-size: 25px;">Cadastrar um novo usuário</span>
                    <br />
                </div>
            </div>
            <br />
            <br />
            <div class="col-md-12">
                <div class="card card-plain" style="border: none;">
                    <div class="card" id="usuario">
                        <div class="content">
                            <form [formGroup]="formUsuario">
                                <div class="row">
                                    <h3 class="title" style="text-align:left; margin-left: 350px;">Cadastro de
                                        Usuarios</h3>
                                    <br />
                                    <div hidden class="col-md-12">
                                        <div class="form-group">
                                            <label for="pessoaid">Id</label>
                                            <input type="text" id="id" [(ngModel)]="usuario.id" formControlName="id"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="nome">Nome</label>
                                            <input type="text" [(ngModel)]="usuario.nome" formControlName="nome"
                                                class="form-control" placeholder="Nome">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="sobrenome">Sobrenome</label>
                                            <input type="text" [(ngModel)]="usuario.sobrenome"
                                                formControlName="sobrenome" class="form-control"
                                                placeholder="Sobrenome">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="username">Usuario</label>
                                            <input type="text" [(ngModel)]="usuario.username" formControlName="username"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="password">Senha</label>
                                            <input type="password" [(ngModel)]="usuario.password"
                                                formControlName="password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Permissão</label>
                                            <select [(ngModel)]="usuario.permissao" formControlName="permissao"
                                                class="form-control">
                                                <option></option>
                                                <option value="1">Operador</option>
                                                <option value="2">Administrador</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info btn-fill pull-center" [disabled]="!formUsuario.valid"
                                        (click)="sendSaveRequest()"
                                        style="width: 100%; background-color: blue; border-left-color: blue; border-right-color: blue; border-top-color: blue; border-bottom-color: blue;">Salvar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />

            <div class="col-md-12">
                <div class="card" id="listaFuncionarios" style="border: none;">
                    <div class="header">
                        <h4 class="title">Usuários</h4>
                    </div>
                    <br />

                    <mat-form-field>
                        <input matInput style="background-color: #f7f7f8; width:20%; height: 30px; margin-left: 15px;" (keyup)="applyFilter($event.target.value)" placeholder="">
                    </mat-form-field>
                    <br />

                    <mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="cod">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="nome">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.nome }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="username">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.username }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="editar">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Editar </mat-header-cell>
                            <mat-cell *matCellDef="let row" (click)="editar(row)"><button type="button" id="btnEditar"
                                    class="btn btn-info pull-center">Editar</button></mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                    </mat-table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]"></mat-paginator>

                </div>
            </div>
        </div>
    </div>