<footer class="footer">
    <div class="container-fluid">
        
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} Developed by Creative Tim, made with love for a better web. Software License Free MIT. Adapted by Gustavo Pereira
        </p>

        <p class="copyright pull-rigth">
            Santos Developer
        </p>
    </div>
</footer>
<br />
<div style="text-align: center;">
    <img src="/assets/img/developer.png"/>
</div>